@model Proyecto_ED2.Models.ListasVista
@{
	ViewBag.Title = "Mensajes";
	bool S = false;
	if (TempData["friend"] != null && TempData["usuario"] != null)
	{
		S = true;
	}
}

@if (TempData["msm"] != null)
{
	<script type="text/javascript">
       alert("@TempData["msm"]");
	</script>
}

	<head>
		<link href="~/Content/styleChat.css" rel="stylesheet" />
		<link href="~/Content/PantallaDividida2.css" rel="stylesheet" />
		<link href="~/Content/styleLeft.css" rel="stylesheet" />
	</head>

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li>@Html.ActionLink("Cerrar Sesion", "LogIn", "Home")</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" no-gutters>
	<div class="col-md-6" no-gutters>
		<div class="leftside" no-gutters>
			<center>
				<div class="chatbox2">
					<form method="post" enctype="multipart/form-data">
						<h4>Enviar Archivo .txt</h4>
						<input type="file" name="ArchivoEntrada" />
						@{
							if (TempData["friend"] != null)
							{
								<input type="hidden" name="receptor" value="@TempData["friend"]" />
							}
							else
							{
								<input type="hidden" name="receptor" value="█" />
							}
						}
						<button type="submit">Enviar</button>
					</form>
					<h2>Archivos Recibidos:</h2>
					@{
						if (Model != null)
						{
							if (Model.Paths != null)
							{
								<div class="row">
									<div class="col-md-4">
										<ul class="list-group">
											@{
												foreach (string path in Model.Paths)
												{
													<a href="#" class="list-group-item">
														@Html.ActionLink("NOMBRE ARCHIVO", "DescargarArchivo", "Usuario", new { Path = path }, null)
													</a>
												}
											}
										</ul>
									</div>
								</div>
							}
							else
							{
								<h4>No tienes archivos por descargar</h4>
							}
						}
					}
					<h2>Usuario Registrados: </h2>
					@{
						if (Model.Usuarios != null)
						{
							<div class="row">
								<div class="col-md-4">
									<ul class="list-group">
										@{
											foreach (string usuariotxt in Model.Usuarios)
											{
												<a href="#" class="list-group-item">@usuariotxt</a>
											}
										}
									</ul>
								</div>
							</div>
						}
						else
						{
							<h4>Aun no se han registrado mas usuarios</h4>
						}
					}
				</div>
			</center>
		</div>
	</div>
	<div class="col-md-6">
		<div class="rightside" aling="center" no-gutters>
			<br />
			<center>
				<form method="post">
					<div class="chatbox">
						<div class="chat-form">
							<label>Receptor: </label>
							@{
								if (TempData["friend"] != null)
								{
									<input name="receptor" type="text" value="@TempData["friend"]" />
								}
								else
								{
									<input name="receptor" type="text" />
								}
							}
							<input name="emisor" type="hidden" value="@TempData["usuario"]" />
						</div>
						<div class="chatlogs">
							@{
								if (S)
								{
									foreach (string linea in Model.Mensajes)
									{
										string[] partes = linea.Split('█');
										if (partes[0] == "receptor")
										{
											<div class="chat friend">
												<div class="user-photo"><img src="~/Archivos/Default.png" /></div>
												<p align="left" class="chat-message"> @partes[1]</p>
											</div>
										}
										if (partes[0] == "emisor")
										{
											<div class="chat self">
												<div class="user-photo"><img src="~/Archivos/Default2.png" /></div>
												<label>Tu</label>
												<p align="right" class="chat-message">@partes[1]</p>
											</div>
										}
									}
								}
								else
								{
									<div class="chat friend">
										<div class="user-photo"><img src="~/Archivos/Default.png" /></div>
										<p class="chat-message"> Escribe tu mensaje :), llena la caja de texto "RECEPTOR" y presiona "Enviar" para iniciar una conversacion</p>
									</div>
								}
							}
						</div>
						<div class="chat-form">
							<input name="mensaje" type="text">
							<button>Enviar</button>
						</div>
					</div>
				</form>
			</center>
		</div>
	</div>
</div>